.Box-container-posttitle{
    padding: 5px;
    max-width: 95%;
    margin-inline: auto;
    border: 2px solid black;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(228, 235, 241);
}
.Box-posttitle-title{
    border-right: 2px solid black;
    max-height: 100px;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden; 
     flex-direction: column;
}

.Box-posttitle-comms{
    background-color: rgb(210, 217, 223);
    max-height: 100px;
    /* flex: 20%; */
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
 
}