.Box-admin-menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: column;
    background-color: blanchedalmond;
}

.Box-admin-menu>a{
    display: block;
    padding: 5px 5px;
    min-width: 100%;
}

.Box-admin-menu>a:where(:hover,:focus){
    background-color: rgb(151, 69, 229);
    color: rgb(255, 196, 48);
}