.postadd-form{
    margin-top:10px;
    margin-bottom: 10px;
}
.postadd-textarea{
    max-width: 50vw;
}

@media only screen and (max-width:600px){
    .postadd-textarea{
        max-width: 300px;
    }
}