.notif-box{
    display:flex;
    /* align-items: center;
    justify-content: left; */
    flex-direction: column;
    max-width: 300px;
    border: 2px solid bisque;
    /* background-color: rgb(144, 255, 216); */
    border-radius: 5px;
    margin-left: 20px;
    padding:2px 2px 2px 2px;
}
.notif-header{
    display: flex;
    flex-direction: row;
}
.notif-date{
    margin-right:auto;
    font-size: 0.8rem;
    color: grey;
}
.notif-delete{
    margin-left:auto;   
}
.notif-content{
    font-size: 0.9rem;
    color:rgb(44, 44, 254);
    margin-left:5px;
}


.notif-box:hover{
    background-color: rgb(217, 227, 236);
    cursor:pointer;
}