.allnews-container{
    background-color: var(--color-bg-container);
    min-height: 60vh;
    padding:10px; 
}
.loading-allnews{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20vh;
}
.allnews-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.allnews-addpost{
    display: flex;
}
.allnews-addpost>a{
    margin-left: auto;
}
/* .allnews-post{
    background-color: aliceblue;
} */