.postpage-box{
    background-color: var(--color-bg-container);
}
.loading-postpage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 10%;
    padding-bottom: 10%;
}
.postpage-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.postpage-addcomment{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}