/* .watchlist-table-rows{
    display:flex;

} */
/* .cell--title button{
    /* justify-content: right !important; */
    
.cell--title{
    font-weight: bold;
}
.cell--status{
    justify-content: center !important;
}
.watching{
    background-color: silver;
    color:rgb(88, 209, 43);
}
.completed{
    background-color: silver;
    color:rgb(51, 99, 242);
}
.plantowatch{
    background-color: silver;
    color:rgb(102, 102, 102);
}
.dropped{
    background-color: silver;
    color:rgb(243, 102, 130);
}
.onhold{
    background-color: silver;
    color:rgb(238, 224, 103);
}

.cell--img img{
    width: auto;
    height: 69px;
}

.cell--center{
    justify-content: center !important;
}
@media only screen and (max-width:735px){
    .cell--img img{
        width: auto;
        height: 115px;
    }
    .cell--contentsmall{
        font-size: 1rem;
    }
    .cell--edit{
        justify-content: center !important;
    }
    .cell--edit button{
        margin-right: 1rem;
    }

    .cell--status-watching{
        background-color:rgb(88, 209, 43,0.7);
    }
    .cell--status-completed{
        background-color:rgb(51, 99, 242,0.7);
    }
    .cell--status-plantowatch{
        background-color:rgb(102, 102, 102,0.7);
    }
    .cell--status-dropped{
        background-color:rgb(243, 102, 130,0.7);
    }
    .cell--status-onhold{
        background-color:rgb(238, 224, 103,0.7);
    }
    
    
    
}
