.app__footer{
    bottom:0;
    /* height: 3rem; */
    width: 100%;
    min-width: 350px;
    background-color: var(--color-footer);
    margin-top: auto;
    display: block;
    position:relative;
    color:rgb(255, 209, 209);
    border-top: 3px solid rgb(170, 0, 212)
}
.footer-divider{
    background-image:var(--gradient-menu);
    height:5px;
    margin-top:5px;
    margin-bottom: 5px;
}