.watchlistfav-edit-div{
    margin-bottom: 1rem;
}
.watchlistfav-edit-wl-grid,.watchlistfav-edit-fav-grid{
    justify-content: center;
    border-top:2px solid red;
    padding:2px;
}
.watchlistfav-edit-div .watchlist-null,.watchlistfav-edit-div .favourites-null{
    text-align: center;
    font-style: italic;
}
.favourites-null,.watchlist-null{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    font-size: 1.2rem;
}