.newsedit-form{
    margin-top:10px;
    margin-bottom: 10px;
    background-color: var(--color-bg-container);
}
.newsedit-textarea{
    max-width: 50vw;
}

@media only screen and (max-width:600px){
    .newsedit-textarea{
        max-width: 300px;
    }
}