.Container-home{
    background-color: var(--color-bg-container);
}
.Container-title{
    background-color: var(--color-bg-title-container);
    border-bottom: 3px solid rgb(170, 0, 212);
    padding-left:20px;
}
.Section-title{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 550;
}

.items-null{
    font-style: italic;
}