* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/*Srollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(146, 56, 56); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(201, 0, 0); 
}



.app__content{
  margin-top:6.5rem ;
  height: 100%;
  min-height: 70vh;
  overflow-x: hidden;
  min-width: 340px;
}

a,a:visited { 
  text-decoration: none !important;  
  color:rgb(4, 39, 238)
}

@media only screen and (max-width:900px){
  .app__content{
    margin-top:6rem ;
  }
  
}

@media only screen and (max-width:750px){
  .app__content{
    margin-top:5rem ;
  }
  
}
/*
body{
  background-color: var(--color-bg);
}

a{
  color:unset;
  text-decoration: none;
}

.gradient__bg{
    
    background:-moz-radial-gradient(circle at 38% 44%, rgba(19, 118, 241, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(228, 116, 228, 1) 100%);

    
    background:-webkit-radial-gradient(circle at 38% 44%, rgba(19, 118, 241, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(228, 116, 228, 1) 100%);

    
    background:-o-radial-gradient(circle at 38% 44%, rgba(19, 118, 241, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(228, 116, 228, 1) 100%);

    
    background:-ms-radial-gradient(circle at 38% 44%, rgba(19, 118, 241, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(228, 116, 228, 1) 100%);

    
    background:radial-gradient(circle at 38% 44%, rgba(19, 118, 241, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(228, 116, 228, 1) 100%);

}

.gradient__text{
  background:var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
  padding:4rem 6rem;
}

.section__margin{
  margin:4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width:700px) {
  
  .section__padding{
    padding:4rem  ;
  }

  .section__margin{
    margin:4rem ;
  }

  
}

@media screen and (max-width:450px) {
  
  .section__padding{
    padding:4rem  2rem;
  }

  .section__margin{
    margin:4rem 2rem;
  }

  
}
*/

