.container-profile{
    border:2px solid rgb(212, 167, 254);
}
.profile-title-item{
    background-color: rgb(208, 208, 208);
    clear:both;
    padding: 5px 5px 5px 5px;

}
.profile-title-item h3{
    float:left;
}
.profile-editprofile{
    float:right;
    margin-top: 10px;
    font-size: 1rem;
}
.profile-title-item h3{
    font-weight: bold;
    color:rgb(74, 74, 74)
}
/* .profile-avatar-item{
    justify-content: center;
} */