.container-movie{
    margin-left:5%;
    margin-right: 5%;
    height:100%;
    
}
.container-grid{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 110%;
    background-blend-mode: screen;
}
.background{
    display:block;
    opacity: 0.4;
    position: absolute;
    width: 90%;
    height: 100%;
    max-width: 90vw;
    z-index: -1; 
    
}

.title-container{
    
    align-content: center;
    background-color: grey;
    opacity: 0.8;
    
}

.title-container h5{
    font-style:oblique;
    color:beige;
}

.movie-info{
     
    opacity: 0.9;
}

.media{
    width:100%;
    height: 100%;
    min-width: 150px;
    max-height:min(95%,500px);
    min-height: 200px;
}

.media img{
    display: block;
    /*height: clamp(35vh,55vh,60vh);
    width: clamp(17vw,18vw,20vw);*/
    /* height: 95%;
    width: 80%;
    min-width: 100px;
    max-width: min(95%,400px);
    max-height:min(95%,500px);
    min-height: 200px;*/
    height: clamp(200px,300px + 25%,500px);
    width: clamp(100px,200px + 15%,400px);
    margin-top:0.5rem; 
    margin-left:auto;
    margin-right:auto;
    
}



.status-info{
    display:grid;
    justify-content: left;
    align-items: center;
    column-gap: 0.5rem;
    grid-auto-flow: column;
}

.status-info span{
    font-weight: bold;
}


.popularity-info{
    background-color:rgb(168, 168, 168);
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 100%;
    
}
.popularity-info div{
    font-weight: bold;
    padding: 0;
}

.score{
    color:rgb(247, 135, 7);
    background-color: rgb(47, 47, 243);
    border-radius: 12%;
    padding:0.2rem 0.2rem 0.2rem 0.2rem;
    text-align: center;
}

.time-info{
    display:grid;
    justify-content: left;
    align-items: center;
    column-gap: 1rem;
    grid-auto-flow: column;  
}

.time-info span{
    font-weight: 550;
}

.certification{
    border:0.1rem dashed rgb(212, 0, 255);
    color:rgb(216, 64, 4);
    font-weight: bolder;
    padding:0.15rem;
}

.genres{
    display:grid;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill,1fr);
    background-color: rgb(180, 127, 57);
}

.genres button{
    padding:0.1rem 0.2rem 0.1rem 0.2rem;
    background-color: rgb(94, 206, 250);
    font-weight: bolder;
    color:rgb(238, 253, 23);
}
.container-synopsis{
    padding:1px;
    margin-top:1rem;
}
.overview-title{
    font-weight: 600;
}

.trailer{
    
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 300px auto;
    
    min-width: 150px;
    max-width: min(95%,350px);
    max-height:min(95%,350px); 
    min-height: 200px;
    
    margin:0 auto;
    margin-top: 2rem;
}
/* .trailer button img{
    opacity: 1;
    position: absolute;
    padding:0;
    z-index:-1;
}*/
.trailer button{
    color:rgb(255, 1, 141);
    min-width: 80px;
    max-width: min(95%,350px);
    max-height:min(95%,500px); 
    min-height: 125px;
    padding-left:0;
    padding-top:0;
    margin-left: 30%;
    transition: none;
    
} 
.trailermodal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: black;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4px;
}



.images{
    width: 95%;
    height: 15%;    
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill,minmax(200px,25%)) !important;
    grid-auto-columns: minmax(200px,25%);    
}

.images img{
    width: auto !important;
    height: 25%!important;
    min-width: max(50px,25%);
    min-height: max(100px,25%);
}
.images::-webkit-scrollbar{
    width: 10px;
}
.images::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(211, 206, 211, 0); 
    border-radius: 2px;
    
}
.images::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 10px rgb(253, 117, 246); 
    
}
.images::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

.images::-webkit-scrollbar-thumb:hover {
    background: green; 
}

.financial{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 0.5rem;
}

.financial h6{
    font-weight: bold;  
      
}

.actors{
    width: max(90%,400px);
    height: max(50vh,200px);
    font-size: 1rem;
}

.actors img{
    height:25% !important;
    width: 25% !important;
    min-width: max(80px,25%);
    min-height: max(125px,25%);
    
}
.actors svg {
    position:absolute;
    margin-left: 32%;
    margin-top: 15%;
    color:gold;
   }
.actors div{
    position:absolute;
    margin-left: 40%;
    margin-top:max(10%,15px);
    text-align: center;
    background: radial-gradient(circle, rgba(251,221,255,1) 0%, rgba(255,218,162,1) 100%);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px inset goldenrod;
    width: max(50%,150px);
    height: auto; 
    
} 

.actors div h5{
    font-size: 110%;
    color:rgb(255, 94, 0);
}
.actors div h6{
    font-size: 0.9rem;
    color:rgb(0, 195, 255);
    font-style: italic;
}


.crew{
    /* width: min(90%,400px); */
    width: max(90%,400px);
    height: max(50vh,200px);
    font-size: 1rem;
}

.crew img{
    height:25% !important;
    width: 25% !important;
    min-width: max(80px,25%);
    min-height: max(125px,25%);
    
}
.crew svg {
    position:absolute;
    margin-left: 32%;
    margin-top: 15%;
    color:magenta;
   }
.crew div{
    position:absolute;
    margin-left: 40%;
    margin-top:max(10%,15px);
    text-align: center;
    background: radial-gradient(circle, rgba(251,221,255,1) 0%, rgba(255,218,162,1) 100%);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px inset goldenrod;
    width: max(50%,150px);
    height: auto; 
    
} 

.crew div h5{
    font-size: 110%;
    color:rgb(255, 94, 0);
}
.crew div h6{
    font-size: 0.9rem;
    color:rgb(0, 195, 255);
    font-style: italic;
}

.actors::-webkit-scrollbar,.crew::-webkit-scrollbar{
    width: 5px;
}
.actors::-webkit-scrollbar-track,.crew::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(211, 206, 211, 0); 
    border-radius: 2px;
    
}
.actors::-webkit-scrollbar-track:hover,.crew::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px rgb(117, 199, 253); 
    
}
.actors::-webkit-scrollbar-thumb,.crew::-webkit-scrollbar-thumb {
    background: rgb(255, 153, 0); 
    border-radius: 10px;
}

.actors::-webkit-scrollbar-thumb:hover,.crew::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 216, 4); 
}
