.Box-movierecomm {
  width: 100px;
  display: block;
  /* align-items: center;
    justify-content: center;
    box-sizing: border-box; */
  /* margin-left: 5px; */
  position: relative;
}
.Box-movierecomm-img {
  /* border: 2px solid purple;
    position: relative; */
}
.Box-movierecomm-img img {
  width: 100px;
  height: 150px;
  /* box-sizing: border-box; */
}
.Box-movierecomm-link {
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  background-color: rgba(88, 88, 88, 0.8);
  text-align: center;
  color: white;
  font-size: 0.8rem;
}


.Box-movierecomm:hover .Box-movierecomm-link{
    display: block;
}
