.moviereview-card{
    background-color: rgb(253, 233, 209);
}
.moviereview-actions>div>h6{
    font-size: 1rem;
}
.moviereview-actions>div:nth-child(2){
    
    margin-left: auto;
} 
.Box-moviereview-draftdisplay{
    overflow: hidden;
}
.moviereview-likecount{
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}