@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
/* menu */
  --gradient-logo:-webkit-linear-gradient(
    179.3deg,
    rgba(233, 10, 130, 1) -0.1%,
    rgba(12, 21, 139, 1) 96.7%
  );
  --color-header-bg:#d4d4f9;
  --gradient-menu: linear-gradient(to right, rgb(28, 0, 128) , rgb(204, 0, 255));
  --header-button:rgba(233, 10, 130, 1);
  --header-button-active:rgb(255, 225, 0);
  --dropdown-content-bg:#d4d4f9;
  --dropdown-item-bg-hover:#c2c2fd;
  --dropdown-item-color-hover:white;
  --menu-button:white;
  --menu-button-hover:#ccccff;
  --menu-button-active:gold;
  --menu-button-active-hover:rgb(255, 238, 138);
/* container */
  --color-bg-noncontainer: #e7e7fd;
  --color-bg-container: #ffffff;
  --color-bg-title-container:rgb(243, 198, 254);
  --color-footer : rgb(27, 5, 42);
/* login/signup */
  --button-submit:blue;
  
}