.loading-userposts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20vh;
}
.userposts-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.userposts-post{
    margin-bottom: 5px;
}
.userposts-post-title{
    display: flex;
    background-color: gainsboro;
    align-items: center;
    justify-items: center;
    padding:10px;
}
.userposts-post-edit{
    margin-left: auto;
}