.container-grid {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-blend-mode: screen;
}

.title-container {
  align-content: center;
  background-color: grey;
  opacity: 0.8;
}

.title-container h3 {
  font-size: 2.5rem;
}
.title-container h4 {
  font-size: 2rem;
  font-style: oblique;
  color: beige;
}

.movie-info {
  opacity: 0.9;
}

.media-movie {
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-height: min(95%, 500px);
  min-height: 350px;
}

.media-movie img {
  display: block;
  height: clamp(300px, 150px + 25vh, 500px);
  width: clamp(200px, 170px + 5vw, 350px);
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.status-info {
  display: grid;
  justify-content: left;
  align-items: center;
  column-gap: 0.5rem;
  grid-auto-flow: column;
  margin-bottom: 1rem;
}

.status-info span {
  font-weight: bold;
}

.popularity-info {
  background-color: rgb(168, 168, 168);
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.popularity-info div {
  display: flex;
  font-weight: bold;
  text-align: center;
  align-content: center;
  justify-content: center;
  min-width: 100%;
  margin-bottom: 5px;
}

.score {
  color: rgb(247, 223, 7);
}

.popularity-icon {
  height: 25px;
  background-color: transparent;
}
.popularity-icon-link {
  height: 25px;
  background-color: transparent;
}

.time-info {
  display: grid;
  justify-content: left;
  align-items: center;
  column-gap: 2rem;
  grid-auto-flow: column;
  margin-bottom: 0.5rem;
  margin-right: 10px;
}

.time-info span {
  font-weight: 550;
  text-align: center;
}

.certification {
  color: rgb(255, 64, 0);
  text-shadow: 1px 1px 1px black;
}

.genres {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  flex-direction: row;
  background-color: rgb(180, 127, 57);
  flex-wrap: wrap;
  margin-left: -8px;
  min-width: 100%;
  position: inherit;
}

.genres > div {
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  background-color: rgb(65, 90, 255);
  font-weight: bolder;
  color: rgb(238, 253, 23);
  border-radius: 10px;
}
.container-synopsis {
  padding: 1px;
  margin-top: 1rem;
}
.overview-title {
  font-weight: 600;
}
.synopsis {
  /* margin-left: 0.2rem; */
  margin-right: 1.5rem !important;
  text-align: justify;
}

.trailer {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.trailer button {
  color: rgb(255, 1, 141);
  padding-left: 0 !important;
  padding-top: 0 !important;
  width: 90px;
  height: 150px;
  transition: none;
  position: relative;
  overflow-x: hidden;
}
.trailermodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4px;
}

.watchformmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(217, 199, 255);
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4px;
}

.movie-add-edit {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: left;
}

.movie-wl-rating {
  border-radius: 10px;
  border-width: 2px 4px;
  border-style: solid;
  border-color: rgb(255, 133, 133);
  background-color: rgb(231, 217, 199);
  color: rgb(229, 69, 0);
}
.movie-wl-rating .icn {
  vertical-align: top;
}

.movie-wl-status {
  border-radius: 5px;
  border-width: 2px 2px;
  border-style: solid;
  border-color: rgb(50, 205, 197);
  background-color: rgb(231, 217, 199);
  color: rgb(229, 0, 92);
}

.financial {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  row-gap: 0.5rem;
  color: rgb(30, 30, 30);
  font-weight: 600;
}
.financial span {
  font-size: 0.9rem;
  max-width: 100%;
}
.financial > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}
.financial h6 {
  font-weight: bold;
}

.actors {
  width: max(90%, 400px);
  height: max(70vh, 300px);
  font-size: 1rem;
}
.actors li {
  flex-direction: row;
}
.actors img {
  position: relative;
  top: 0;
  left: 0;
  width: calc(2% + 95px) !important;
  height: calc(5vh + 150px) !important;
}

.actors div {
  flex: 60%;
  height: auto;
  margin-right: 10%;
  width: 50%;
  align-self: center;
  text-align: left;
  flex-direction: column;
  row-gap: 0.2rem;
  background: radial-gradient(
    circle,
    rgba(251, 221, 255, 1) 0%,
    rgba(255, 218, 162, 1) 100%
  );
  padding: 0.25em 1em 0.25em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px inset goldenrod;
}

.actors div h5 {
  font-size: 110%;
  color: rgb(255, 94, 0);
}
.actors div h6 {
  font-size: 0.9rem;
  color: rgb(0, 195, 255);
  font-style: italic;
}

.crew {
  width: max(90%, 400px);
  height: max(70vh, 300px);
  font-size: 1rem;
}
.crew li {
  flex-direction: row;
}

.crew img {
  position: relative;
  top: 0;
  left: 0;
  width: calc(2% + 95px) !important;
  height: calc(5vh + 150px) !important;
}

.crew div {
  flex: 60%;
  height: auto;
  margin-right: 10%;
  width: 50%;
  align-self: center;
  text-align: left;
  flex-direction: column;
  row-gap: 0.2rem;
  background: radial-gradient(
    circle,
    rgba(251, 221, 255, 1) 0%,
    rgba(255, 218, 162, 1) 100%
  );
  padding: 0.25em 1em 0.25em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px inset rgb(225, 110, 251);
}

.crew div h5 {
  font-size: 110%;
  color: rgb(255, 94, 0);
}
.crew div h6 {
  font-size: 0.9rem;
  color: rgb(0, 195, 255);
  font-style: italic;
}

.actors::-webkit-scrollbar,
.crew::-webkit-scrollbar {
  width: 5px;
}
.actors::-webkit-scrollbar-track,
.crew::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(211, 206, 211, 0);
  border-radius: 2px;
}
.actors::-webkit-scrollbar-track:hover,
.crew::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(117, 199, 253);
}
.actors::-webkit-scrollbar-thumb,
.crew::-webkit-scrollbar-thumb {
  background: rgb(255, 153, 0);
  border-radius: 10px;
}

.actors::-webkit-scrollbar-thumb:hover,
.crew::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 216, 4);
}

.review-title-box {
  display: flex;
  align-items: center;
}
.review-title-box > a {
  margin-left: auto;
  margin-right: 5px;
  font-weight: bolder;
}

.review-reviews-box {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 5px;
}

.post-title-box {
  display: flex;
  align-items: center;
}
.post-title-box > a {
  margin-left: auto;
  margin-right: 5px;
  font-weight: bolder;
}

.post-posts-box {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .financial > div {
    grid-template-columns: 1fr 1fr;
  }
  .actors {
    width: 95%;
    height: max(70vh, 250px);
  }
  .crew {
    width: 95%;
    height: max(70vh, 250px);
  }
}
@media only screen and (max-width: 500px) {
  .title-container h3 {
    font-size: 1.5rem;
  }
  .title-container h4 {
    font-size: 1.25rem;
  }
  .status-info span {
    font-size: 0.8rem;
  }

  .popularity-info div {
    font-size: 0.9rem;
  }
  .time-info span {
    font-size: 0.8rem;
  }
  .genres div {
    font-size: 0.75rem;
  }
}
