.pg{
    display:flex;
    width: 100%;
    margin-top:1rem;
}
.meniuleft{
    display:inline-block;
    flex:20%;
    background-color: aqua;
    border: solid;
    border-color: black;
    height:100%;
}
.container{
    flex:80%;
    
  
}
.contained-movies{
  display:flex;
}
.container-movies ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 1rem;
    
}

.container-movies ul>li {
  list-style-type: none;
  text-decoration: none;  
}

.loading-movies{
  display:flex;
  position:relative;
  top:40%;
  height: 500px;
  left:50%;
  overflow-y: hidden;
}

.loading-movies svg{
 color:red;
}

.container-pagination{
  position:relative;
  width: 100%;
  left:25%;
  margin-top: 4rem;
  margin-bottom: 3rem;
}