.pg{
    display:flex;
    width: 100%;
    margin-top:1rem;
}
.meniuleft{
    display:inline-block;
    flex:20%;
    background-color: aqua;
    border: solid;
    border-color: black;
    height:100%;
}
.container{
    flex:80%;
    
  
}
.container ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 1rem;
    
}

.container ul>li {
  list-style-type: none;
  text-decoration: none;  
}