.moviefavlist-card{
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    background-color: rgb(175, 175, 175);
}
.moviefavlist-header{
   height: 55px;
   border-bottom: 2px solid purple;
   overflow: hidden;
   text-overflow: clip;
}
.moviefavlist-header>div{
    align-items: center;
    display: flex;
    justify-content: center;
}
.moviefavlist-header>div>span{
    min-width: 120px;
    height: 100%;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    text-align: center;
    color: bisque;
    font-weight: bold;
    overflow:hidden;
}
.moviefavlist-image{
    margin-top: 4px;
    margin-bottom: 4px;
    width: auto;
    height: 250px;
    margin-inline:auto;
}
.moviefavlist-content{
    border-top: 2px solid purple;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px !important;
  
}
.moviefavlist-content>span{
    font-weight: 500;
    color: antiquewhite;
    font-size: 0.9rem;
}

.moviefavlist-actions{
    border-top: 2px solid purple;
    display: flex;
    height: 40px;
    padding:0;
    justify-content: center;
}
.moviefavlist-actions>button:nth-child(1){
    justify-content: left;
}
.moviefavlist-actions>button:nth-child(2){
    justify-content: right;
}

.moviefavlist-actions>button{
    height: 75%;
    padding:2px 5px 2px 5px;
}